/*--------------------- Layout and Typography ---------------------------- */
/* line 3, ../sass/style.sass */
body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
  font-size: 16px;
  line-height: 24px;
  color: #252519;
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/style.sass */
a {
  color: #261a3b;
}
/* line 13, ../sass/style.sass */
a:visited {
  color: #261a3b;
}

/* line 16, ../sass/style.sass */
p {
  margin: 0 0 15px 0;
}

/* line 19, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 40px 0 15px 0;
}

/* line 22, ../sass/style.sass */
h3, h4, h5, h6 {
  margin-top: 20px;
}

/* line 25, ../sass/style.sass */
#container {
  text-align: center;
  position: relative;
}

/* line 29, ../sass/style.sass */
#background {
  position: fixed;
  top: 0;
  left: 575px;
  right: 0;
  bottom: 0;
  background: #f5f5ff;
  border-left: 1px solid #e5e5ee;
  z-index: -1;
}

/* line 39, ../sass/style.sass */
#jump_to, #jump_page {
  background: white;
  -webkit-box-shadow: 0 0 25px #777777;
  -moz-box-shadow: 0 0 25px #777777;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  font: 10px Arial;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;
}

/* line 50, ../sass/style.sass */
#jump_to {
  position: fixed;
  right: 0;
  top: 0;
  padding: 5px 10px;
}

/* line 56, ../sass/style.sass */
#jump_wrapper {
  position: fixed;
  right: 0;
  top: 0;
  padding: 5px 10px;
  padding: 0;
  display: none;
}

/* line 64, ../sass/style.sass */
#jump_to:hover #jump_wrapper {
  display: block;
}

/* line 67, ../sass/style.sass */
#jump_page {
  padding: 5px 0 3px;
  margin: 0 0 25px 25px;
}
/* line 70, ../sass/style.sass */
#jump_page .source {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  border-top: 1px solid #eeeeee;
}
/* line 75, ../sass/style.sass */
#jump_page .source:hover {
  background: #f5f5ff;
}

/* line 78, ../sass/style.sass */
table td {
  border: 0;
  outline: 0;
}

/* line 82, ../sass/style.sass */
td.docs, th.docs {
  max-width: 500px;
  min-width: 500px;
  min-height: 5px;
  padding: 10px 25px 1px 50px;
  vertical-align: top;
  text-align: left;
}

/* line 91, ../sass/style.sass */
.docs pre {
  margin: 15px 0 15px;
  padding-left: 15px;
}
/* line 95, ../sass/style.sass */
.docs p tt, .docs p code {
  background: #f8f8ff;
  border: 1px solid #dedede;
  font-size: 12px;
  padding: 0 0.2em;
}

/* line 101, ../sass/style.sass */
.octowrap {
  position: relative;
}

/* line 104, ../sass/style.sass */
.octothorpe {
  font: 12px Arial;
  text-decoration: none;
  color: #454545;
  position: absolute;
  top: 3px;
  left: -20px;
  padding: 1px 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
}

/* line 116, ../sass/style.sass */
td.docs:hover .octothorpe {
  opacity: 1;
}
/* line 118, ../sass/style.sass */
td.code {
  padding: 14px 15px 16px 50px;
  width: 100%;
  vertical-align: top;
  background: #f5f5ff;
  border-left: 1px solid #e5e5ee;
}

/* line 125, ../sass/style.sass */
th.code {
  padding: 14px 15px 16px 50px;
  width: 100%;
  vertical-align: top;
  background: #f5f5ff;
  border-left: 1px solid #e5e5ee;
}

/* line 132, ../sass/style.sass */
pre, tt, code {
  font-size: 12px;
  line-height: 18px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
  padding: 0;
}

/*---------------------- Syntax Highlighting ----------------------------- */
/* line 141, ../sass/style.sass */
td.linenos {
  background-color: #f0f0f0;
  padding-right: 10px;
}

/* line 145, ../sass/style.sass */
span.lineno {
  background-color: #f0f0f0;
  padding: 0 5px 0 5px;
}

/* line 150, ../sass/style.sass */
body .hll {
  background-color: #ffffcc;
}
/* line 152, ../sass/style.sass */
body .c {
  color: #408080;
  font-style: italic;
}
/* line 155, ../sass/style.sass */
body .err {
  border: 1px solid red;
}
/* line 157, ../sass/style.sass */
body .k {
  color: #954121;
}
/* line 159, ../sass/style.sass */
body .o {
  color: #666666;
}
/* line 161, ../sass/style.sass */
body .cm {
  color: #408080;
  font-style: italic;
}
/* line 164, ../sass/style.sass */
body .cp {
  color: #bc7a00;
}
/* line 166, ../sass/style.sass */
body .c1, body .cs {
  color: #408080;
  font-style: italic;
}
/* line 169, ../sass/style.sass */
body .gd {
  color: #a00000;
}
/* line 171, ../sass/style.sass */
body .ge {
  font-style: italic;
}
/* line 173, ../sass/style.sass */
body .gr {
  color: red;
}
/* line 175, ../sass/style.sass */
body .gh {
  color: navy;
  font-weight: bold;
}
/* line 178, ../sass/style.sass */
body .gi {
  color: #00a000;
}
/* line 180, ../sass/style.sass */
body .go {
  color: gray;
}
/* line 182, ../sass/style.sass */
body .gp {
  color: navy;
  font-weight: bold;
}
/* line 185, ../sass/style.sass */
body .gs {
  font-weight: bold;
}
/* line 187, ../sass/style.sass */
body .gu {
  color: purple;
  font-weight: bold;
}
/* line 190, ../sass/style.sass */
body .gt {
  color: #0040d0;
}
/* line 192, ../sass/style.sass */
body .kc {
  color: #954121;
}
/* line 194, ../sass/style.sass */
body .kd, body .kn {
  color: #954121;
  font-weight: bold;
}
/* line 197, ../sass/style.sass */
body .kp {
  color: #954121;
}
/* line 199, ../sass/style.sass */
body .kr {
  color: #954121;
  font-weight: bold;
}
/* line 202, ../sass/style.sass */
body .kt {
  color: #b00040;
}
/* line 204, ../sass/style.sass */
body .m {
  color: #666666;
}
/* line 206, ../sass/style.sass */
body .s {
  color: #219161;
}
/* line 208, ../sass/style.sass */
body .na {
  color: #7d9029;
}
/* line 210, ../sass/style.sass */
body .nb {
  color: #954121;
}
/* line 212, ../sass/style.sass */
body .nc {
  color: blue;
  font-weight: bold;
}
/* line 215, ../sass/style.sass */
body .no {
  color: #880000;
}
/* line 217, ../sass/style.sass */
body .nd {
  color: #aa22ff;
}
/* line 219, ../sass/style.sass */
body .ni {
  color: #999999;
  font-weight: bold;
}
/* line 222, ../sass/style.sass */
body .ne {
  color: #d2413a;
  font-weight: bold;
}
/* line 225, ../sass/style.sass */
body .nf {
  color: blue;
}
/* line 227, ../sass/style.sass */
body .nl {
  color: #a0a000;
}
/* line 229, ../sass/style.sass */
body .nn {
  color: blue;
  font-weight: bold;
}
/* line 232, ../sass/style.sass */
body .nt {
  color: #954121;
  font-weight: bold;
}
/* line 235, ../sass/style.sass */
body .nv {
  color: #19469d;
}
/* line 237, ../sass/style.sass */
body .ow {
  color: #aa22ff;
  font-weight: bold;
}
/* line 240, ../sass/style.sass */
body .w {
  color: #bbbbbb;
}
/* line 242, ../sass/style.sass */
body .mf, body .mh, body .mi, body .mo {
  color: #666666;
}
/* line 244, ../sass/style.sass */
body .sb, body .sc {
  color: #219161;
}
/* line 246, ../sass/style.sass */
body .sd {
  color: #219161;
  font-style: italic;
}
/* line 249, ../sass/style.sass */
body .s2 {
  color: #219161;
}
/* line 251, ../sass/style.sass */
body .se {
  color: #bb6622;
  font-weight: bold;
}
/* line 254, ../sass/style.sass */
body .sh {
  color: #219161;
}
/* line 256, ../sass/style.sass */
body .si {
  color: #bb6688;
  font-weight: bold;
}
/* line 259, ../sass/style.sass */
body .sx {
  color: #954121;
}
/* line 261, ../sass/style.sass */
body .sr {
  color: #bb6688;
}
/* line 263, ../sass/style.sass */
body .s1 {
  color: #219161;
}
/* line 265, ../sass/style.sass */
body .ss {
  color: #19469d;
}
/* line 267, ../sass/style.sass */
body .bp {
  color: #954121;
}
/* line 269, ../sass/style.sass */
body .vc, body .vg, body .vi {
  color: #19469d;
}
/* line 271, ../sass/style.sass */
body .il {
  color: #666666;
}
